{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "no-multi-spaces": [2, { "exceptions": { "ImportDeclaration": true, "VariableDeclarator": true } }],
    "key-spacing": 0,
    "quotes": [2, "double"]
  },
  "globals": {
    "describe": true,
    "xdescribe": true,
    "it": true,
    "xit": true,
    "expect": true,
    "beforeEach": true,
    "afterEach": true
  }
}
